<article>
    <p>Datapoints are shown as circles colored by their class (red/green/blue).
        The background regions are colored by whichever class is most likely at
        any point according to the current weights.</p>

    <p>Each classifier is
        visualized by a line that indicates its zero score level set. For
        example, the blue classifier computes scores as
        \(W_{0,0}x_0+W_{0,1}x_1+b_0\) and the
        blue line shows the set of points \((x_0,x_1)\) that give score of zero.
        The
        blue arrow draws the vector \((W_{0,0},W_{0,1})\), which shows the
        direction of
        score increase and its length is proportional to how steep the increase
        is.</p>
</article>

<article>
    <div class="mb-4">
        <img id="plot" class="img-fluid"
             />
    </div>
</article>

<hr>

<div>
<h4>Optimize</h4>

    <a href="javascript:void(0)"
       onclick="demoObj.getStep()"
       class="btn btn-primary">Single step</a>
</div>