{% extends "base.html" %}

{% block title %}
{{ title|default(site_name) }}
{% endblock %}

{% block body_attribs %} id="page-top" class="bg-gradient-primary" {% endblock %}

{% block navbar %}
{% endblock %}

{% block sidebar %}
{% endblock %}
{% block main_content %}

<div class="container-fluid p-0">
    <header class="masthead">
        <div class="container p-0 d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase text-gray-700">{{
                    site_name }}</h1>
                <h2 class="text-gray-900 mx-auto mt-2 mb-5">
                    Linear Classifier Demo</h2>

            </div>

        </div>
    </header>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">{{ 'background
                        of the demo' | title}}</h6>
                </div>
                <div class="card-body">
                    {% include 'index/intro.html' %}
                </div>
            </div>


        </div>
    </div>
    <div class="row">
        <div class="col-md-4">

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">{{ 'Data and
                        Classifier Visualization' | title}}</h6>
                </div>
                <div class="card-body">
                    {% include 'index/left.html' %}
                </div>
            </div>

        </div>

        <div class="col-md-4">

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">{{ 'Classifier
                        parameters' | title}}</h6>
                </div>
                <div class="card-body">
                    {% include 'index/center.html' %}
                </div>
            </div>
        </div>

        <div class="col-md-4">

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">{{ 'Data point
                        and Loss values' | title}}</h6>
                </div>
                <div class="card-body">
                    {% include 'index/right.html' %}
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    const initParamUrl = '{{ urls.init_params_url }}',
        randomParamUrl = '{{ urls.random_params_url }}';
</script>

{% endblock %}
