{% extends "base.html" %}

{% block title %}
    {{ title|default(site_name) }}
{% endblock %}

{% block body_attribs %} id="page-top"
    class="bg-white" {% endblock %}

{% block main_content %}

    <header class="masthead bg-white">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-4 text-uppercase text-gray-700">{{ site_name }}</h1>
            <h2 class="text-gray-900 mx-auto mt-2 mb-5">
                Linear Classifier Demo
            </h2>

        </div>
    </header>
    <div class="content-wrapper">
        <div class="intro card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{ 'background
                        of the demo' | title }}</h6>
            </div>
            <div class="card-body">
                {% include 'index/intro.html' %}
            </div>
        </div>
        <div class="visualization card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{ 'Data and
                        Classifier Visualization' | title }}</h6>
            </div>
            <div class="card-body">
                {% include 'index/left.html' %}
            </div>
        </div>
        <div class="params card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{ 'Classifier
                        parameters' | title }}</h6>
            </div>
            <div class="card-body">
                {% include 'index/center.html' %}
            </div>
        </div>
        <div class="datapoints card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{ 'Data point
                        and Loss values' | title }}</h6>
            </div>
            <div class="card-body">
                {% include 'index/right.html' %}
            </div>
        </div>
    </div>

    <script>
        const getParamsUrl = '{{ urls.get_params_url }}',
            getDataUrl = '{{ urls.get_data_url }}',
            getPlotUrl = '{{ urls.get_plot_url }}',
            getStepUrl = '{{ urls.get_step_url }}'
    </script>

{% endblock %}
