{% extends "base.html" %}

{% block title %}
{{ title|default(site_name) }}
{% endblock %}

{% block body_attribs %} id="page-top" class="bg-gradient-primary" {% endblock %}

{% block navbar %}
{% endblock %}

{% block sidebar %}
{% endblock %}
{% block main_content %}

<div class="container-fluid p-0">
    <header class="masthead">
        <div class="container p-0 d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase text-gray-700">{{
                    site_name }}</h1>
                <h2 class="text-gray-900 mx-auto mt-2 mb-5">Linear Classifier Demo</h2>

            </div>
        </div>


    </header>

</div>

{% endblock %}
